.wrapper  
  .chat-main
    .chat-main__info
      .info-list
        .info-list__test
          = @group.name
          .member
            Member:
            - @users.each do |user|
              .member-box
                = user.user.name
        .info-list__edit
          .info-list__edit__botan
            = link_to "Edit",edit_group_path(@group.id), class: "botan-color"
    .chat-main__messages
      = render @messages
    .chat-main__footer
      = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('far', 'image', class: 'input-box__icon')
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'